# Base de datos
DB_HOST=db
DB_PORT=5432
DB_NAME=sgca_db
DB_USER=sgca_user
DB_PASSWORD=sgca_password

# JWT
JWT_SECRET=sgca_jwt_secret_super_seguro_2025
JWT_EXPIRES_IN=8h

# Servidor
PORT=3000
NODE_ENV=development

# Email (Nodemailer)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=sgca@gmail.com
MAIL_PASS=tu_password_aqui
MAIL_FROM=SGCA <sgca@gmail.com>

# Uploads
UPLOAD_DIR=/app/uploads
MAX_FILE_SIZE=10485760
